@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Pasic</h1>
    <img src="~/css/balls.png" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Demo APP</a>.</p>
</div>
